/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
  :root {
    box-sizing: border-box;

    --surface-0: #242424;
    --surface-1: #2c2c2c;
    --surface-2: #333;
    --text: #ebd198;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    margin: 0;
    padding: 0;

    background-color: var(--surface-0);
    color: var(--text);
  }

  a {
    color: var(--text);
  }
  
  nav {
    justify-content: flex-end;
    align-items: center;
    display: flex;
    font-size: 0.875em;
    gap: 1rem;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 1.5rem;

    background-color: var(--surface-2);
  }
  
  nav a {
    display: inline-block;
    text-decoration: none;
    padding: 1.5rem 0;
  }

  nav a:first-child {
    padding: 0;
    margin-right: auto;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  nav .logo {
    height: 2.5em;
  }
  
  main {
    width: 1024px;
    margin: 0 auto;
    min-height: calc(100vh - 5rem);

    background-color: var(--surface-1);
  }
  
  .notice {
    color: green;
  }

  button, input[type="submit"] {
    background-color: var(--text);
    color: var(--surface-1);
    border-radius: 8px;
    border: solid 2px var(--text);
    padding: 0.4em 1em;
  }

  button:hover, input[type="submit"]:hover {
    background-color: var(--surface-1);
    color: var(--text);
    border: solid 2px var(--text);
  }
  