#login_form {
    padding: 4rem;
    max-width: 600px;
    margin: auto;

    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

#login_form form input {
    font-size: 15px;
    margin: 0.5em 0;
}

#login_form form input[type="email"],
#login_form form input[type="password"] {
    width: 30em;
    padding: 1em;
    border-radius: 8px;
    border: none;
    color: var(--text);
    background-color: var(--surface-2);
}